<mp-toolbar></mp-toolbar>
<div class="wrapper" layout="row" layout-fill ng-hide="vm.loading">
  <mp-nav class="md-whiteframe-z2"></mp-nav>
  <md-content layout-padding flex>
    <h1 class="md-title">Data Set</h1>
    <md-list>
      <md-list-item ng-repeat="obj in vm.imageDataSet" ng-click="noop()" class="noright" ng-cloak>
        <img alt="{{ obj.name }}" ng-src="{{ obj.img }}" class="md-avatar" />
        <p>{{ obj.name }}</p>
      </md-list-item>
    </md-list>
  </md-content>
</div>
<div class="wrapper" layout-padding layout-fill ng-show="vm.loading">
  <pre>Loading</pre>
</div>
<md-button class="md-fab md-fab-bottom-right">
  <md-icon>add</md-icon>
</md-button>
